h1{
    color:aqua;
    text-align: center;
    font-size: larger;
}
h2{
    color:aqua;
    text-align: center;
    font-size: larger;
}
body{
    height: 100vh;
background-image: url("blink.jpg");
background-size: cover;
background-position: center;
}